body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}

/* Aplica la fuente Montserrat para los títulos */
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

/* Menú de hamburguesa */
.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #033b70;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ff7b00;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    color: white;
}

/* Cuando el menú está abierto, cambiar la posición */
.sidebar.open {
    right: 0; /* Mover el menú a la vista */
}

/* Contenedor principal */
#main-content {
    margin-right: 20px;
    transition: margin-right 0.5s;
    max-width: 1000px;
    padding: 40px;
    margin:0 auto;
}

/* Contenedor principal */
#project-content {
    margin-right: 20px;
    transition: margin-right 0.5s;
    max-width: 1000px;
    padding: 40px;
    margin:0 auto;
}

/* Estilos para publicaciones */
.publications-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.publications-container header h1 {
    font-size: 32px;
    color: #033b70;
    margin-bottom: 10px;
}

.publications-container header p {
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}

/* Listado de publicaciones */
.publications-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.publication {
    padding: 20px;
    background-color: #f7f9fc;
    border-left: 5px solid #ff7b00;
    border-radius: 5px;
}

.publication h2 {
    font-size: 20px;
    color: #033b70;
    margin-bottom: 5px;
}

.publication p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.publication a {
    font-size: 14px;
    color: #ff7b00;
    text-decoration: none;
}

.publication a:hover {
    text-decoration: underline;
}



/* Estilo responsive para publicaciones */
@media (max-width: 768px) {
    .publications-container {
        padding: 15px;
    }

    .publications-list {
        gap: 15px;
    }

    .publication h2 {
        font-size: 18px;
    }

    .publication p {
        font-size: 14px;
    }
}
